{% extends 'layout/app.html' %}

{% load static %}
{% block stylesheet %}
    <style>
        .bd-example {
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -.75rem 0;
            border: solid #dee2e6;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">CRUD</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Add CRUD</li>
        </ol>
        <div class="bd-example">
            <form action="create" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" id="inputCompanyname" type="text" name="companyname" placeholder="Enter your Company name"/>
                            <label for="companynameInput">Enter Company name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputFullname" type="text" name="fullname" placeholder="Enter your Full name"/>
                            <label for="fullnameInput">Enter Full name</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input type="text" class="form-control" name="jobtitle" placeholder="Enter your Job title" id="jobtitle" required>
                            <label for="jobtitleInput">Enter Job title</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" type="text" name="emailaddress" placeholder="Enter Email address" id="emailaddress">
                            <label for="emailInput">Enter Email address</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" type="text" name="softwareusername" id="softwareusername">
                            <label for="softwareusernameInput">Enter Software user name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" type="date" name="expirationdate"  id="expirationdate">
                            <label for="dateInput">Enter Expiration Date</label>
                        </div>
                    </div>
 
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="version" id="version" class="form-control" placeholder="Enter version">
                            <label for="versionInput">Enter Version</label>
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-0">
                    <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}